@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f8f8f8 !important; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

img {
    width: 150px; 
}



.navbar.custom-navbar {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0.5rem 1rem;
}

.navbar-logo {
    height: 100px; 
    width:auto;
}

.nav-ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
}

.nav-ul .nav-item {
    margin-left: 20px; 
}

.nav-ul .nav-item .nav-link {
    text-decoration: none; 
    color: #000000; 
    font-size: 16px; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav-ul .nav-item .nav-link:hover {
    background-color: #D2B48C; 
    color: #ffffff; 
}

.nav-ul .nav-item .nav-link:active {
    background-color: #916c42; 
    color: #ffffff; 
}

header {
    background-color: #808080; 
    color: #ffffff; 
    padding: 10px 0;
    text-align: center;
}


.footer {
    background-color: #8B7D6B; 
    color: #ffffff; 
    padding: 15px 0; 
    text-align: center;
    border-top: 3px solid #746855; 
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.footer a {
    color: #ffffff; 
    margin: 0 15px; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.footer .social-icons a {
    font-size: 24px; 
    margin: 0 10px; 
}

.footer a:hover, .footer a:focus {
    color: #cccccc; 
    text-decoration: none; 
}


.footer p {
    margin-bottom: 10px; 
    font-size: 14px; 
}

body { 
    background-color: #e0f2f1; 
    font-family: 'Arial', sans-serif; 
    color: #555; 
}
.container { 
    max-width: 960px; 
    margin: 30px auto; 
    background: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    border: 1px solid #b2dfdb; 
}

.header { 
    background: linear-gradient(145deg, #26a69a, #00897b);
    color: white; 
    padding: 15px 20px; 
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}
.header h1 { 
    margin: 0; 
    font-size: 24px; 
}
.content { 
    padding: 20px; 
    text-align: left;
    line-height: 1.6;
}
.section-title { 
    color: #00897b; 
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px; 
}
